adal==0.4.6
asn1crypto==0.22.0
azure-common==1.1.8
azure-keyvault==0.3.6
azure-mgmt-keyvault==0.40.0
azure-mgmt-nspkg==2.0.0
azure-mgmt-resource==1.1.0
azure-nspkg==2.0.0
certifi==2017.7.27.1
cffi==1.10.0
chardet==3.0.4
cryptography==2.0.3
idna==2.6
isodate==0.5.4
keyring==10.4.0
msrest==0.4.14
msrestazure==0.4.11
oauthlib==2.0.2
pycparser==2.18
PyJWT==1.5.2
python-dateutil==2.6.1
pywin32-ctypes==0.1.2
requests==2.18.4
requests-oauthlib==0.8.0
six==1.10.0
urllib3==1.22
