adal==1.0.2
asn1crypto==0.24.0
azure-common==1.1.12
azure-keyvault==1.0.0
azure-mgmt-keyvault==1.0.0
azure-mgmt-nspkg==2.0.0
azure-mgmt-resource==1.2.2
azure-nspkg==2.0.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
cryptography==2.2.2
entrypoints==0.2.3
idna==2.7
isodate==0.6.0
keyring==13.1.0
msrest==0.5.1
msrestazure==0.4.33
oauthlib==2.1.0
pycparser==2.18
PyJWT==1.6.4
python-dateutil==2.7.3
pywin32-ctypes==0.1.2
requests==2.19.1
requests-oauthlib==1.0.0
six==1.11.0
urllib3==1.24.2
